<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AHHHHH!!!</title>
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
        {{ script|safe }}
    </head>
    <body>
        <h2>Generated Graph for {{stock_name}} </h2>
        <div class='bokeh'>
   {{ div|safe }}
  </div>
        
    </body>
</html>